{{#with header}}
<div class="header">
	<div class="logo">
		<span class="logo_badge">{{brandName}}</span>
	</div>
	<nav class="header_nav">
		<div class="header_nav2">
			<div class="nav">
				{{#each links}}
				<a href="{{url}}" class="nav_link">{{text}}</a>
				{{/each}}
			</div>
		</div>
	</nav>
</div>

<div class="header_bottom">
	<div class="header_bottom_block">
		<div class="badge_ad">Ad</div>
		<div class="header_bottom_text">{{ad.text}}: <a href="{{url}}" class="url">{{ad.url}}</a></div>
	</div>
	<div class="users">Users online: {{userOnline}}</div>
</div>
{{/with}}